html {
    font-family: sans-serif;
  }
  
  body {
    width: 300px;
    max-width: 750px;
    min-width: 480px;
    margin: 0 auto;
    background-color: #212121;
  }
  

  button {
    background-color: #141414;
    color: #fff;
    width: 250px;
    height: 50px;
    border-radius: 25px;
    font-size: 30px;
    border-style: none;
    margin-top: 30px;
    margin-left: 50px;
  }

  #buttons{
    display: flex;
    justify-content: space-between;
    
  }
  
  
  h1 {
    background-color: #161616;
  
    color: #fff;
    text-align: center;
  }

 
  
  